body {
    background: #8765e4;
 }
input {
    width: 150px;
    height: 40px;
    font-size: 20px;
    text-decoration: 20px;
}
button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    background:#fd1111 ;
}
p {
    font-size: 50px;
}